body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34; 
  height: '100%';
  font-family: Montserrat !important;
  font-size:calc(10px + 0.33vw) !important;
}

p {
  font-family: Montserrat !important;
}